<html>
<head>
	<style>
		.positive-color { color: green }
		.negative-color { color: red }
	</style>
</head>
<body ng-controller="accounts">
	<h1>Accounts</h1>
	<button class="btn btn-success" ng-click="createNewAccount()"><span class="glyphicon glyphicon-plus"></span></button>
	<table class="table table-default">
		<thead>
			<tr>
				<th>Account Name</th>
				<th>Type</th>
				<th style="text-align:right">Balance</th>
				<th>Group</th>
				<th>Note</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="accounts.length === 0">
				<td colspan=6 class="no_row"><p>No Accounts Defined</p><p><a href='#'>Create One</a></td>
			</tr>
			<tr ng-repeat="acc in accounts">
				<td><a href="#/transactions?a={{acc._id}}">{{acc.title}}</a></td>
				<td>{{acc.type}}</td>
				<td style="text-align:right" ng-class="{'negative-color':acc.balance<0,'positive-color':acc.balance>=0}">{{acc.balance|number}}</td>
				<td>{{acc.group}}</td>
				<td>{{acc.note}}</td>
				<td>
					<button class="btn btn-xs btn-primary" ng-click="editAccount(acc)"><span class="glyphicon glyphicon-pencil"></span></button>
					<a role="button" class="btn btn-xs btn-primary" href="#/entry?a={{acc._id}}"><span class="glyphicon glyphicon-list"></span></a>
					<button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="active">
				<td colspan=6><b>Total {{calcTotal()|number}} </b></td>
			</tr>
		</tfoot>
	</table>
		<div id="addAccount" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
						&times;</span></button>
						<h4>Add new Account</h4>
					</div>

					<div class="modal-body">
						<div id="createAccountAlert" ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>

						<div class="form-group">
							<label for="accountName">Account Name</label>
							<input name="accountName" ng-model="newAccount.title" class="form-control" placeholder="Account Name"/>
						</div>
						<div class="form-group">
							<label for="initialBalance">Initial Balance</label>
							<input type="number" name="initialBalance" ng-model="newAccount.initialBalance" class="form-control" placeholder="Initial Balance"/>
						</div>

						<div class="form-group">
							<label for="accountType">Account Type</label>
							<select name="accountType" ng-model="newAccount.type" class="form-control">
								<option value="">Choose an Account Type</option>
								<option value="CASH">Cash</option>
								<option value="SAVINGS">Savings</option>
								<option value="CREDIT">Credit Card</option>
								<option value="OTHERS">Others</option>
							</select>
						</div>

						<div class="form-group">
							<label for="accountGroup">Account Group</label>
							<input name="accountGroup"  ng-model="newAccount.group" class="form-control" placeholder="Group"/>
						</div>

						<div class="form-group">
							<label for="accountNote" ng-model="newAccount.note">Description</label>
							<textarea name="accountNote" class="form-control" placeholder="Note"></textarea>
						</div>
					</div> <!-- modal.body -->
					<div class="modal-footer">
						<button class="btn btn-success" ng-click="saveAccount()">{{editMode=='new'?'Add Account':'Save Account'}}</button>
						<button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
					</div>
				</div> <!--modal.content -->
			</div> <!-- modal.dialog -->
		</div> <!-- modal -->
</body>
</html>
