<html>
<head>
    <style>
        .cat-row {
            border-width: 1px 1px 1px 4px;
            border-color: #ddd;
            border-left-color: #fcc;
            border-style: solid;
            padding: 0.4em;
            margin: 2px 0px 2px 0px;
            border-radius: 2px;
        }
        .right-aligned { 
            text-align: right;
        }
        .cat-icon {
            color: #888;
            margin-right: 0.5em;
        }
    </style>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <lead>Category</lead>
        </div>
        <div class="panel-body">
            <div ng-if="alertType!==''" ng-class="alertType">{{alert}}<button type="button" class="close" ng-click="dismissAlert()"><span>&times;</span></button></div>
            <div class="container-fluid">
                <div class="row cat-row" style="border-left-color:{{cat.color}}" ng-repeat="cat in cats">
                    <div class="col-xs-8">
                    <span class="cat-icon {{cat.icon}}"></span>
                    {{cat.slug}}
                    </div>
                    <div class="col-xs-4 right-aligned">
                    
                    <button class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-xs btn-danger" ng-click="delcat(cat)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="reassignDlg" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Reassign Transactions to Category</h4>
            </div>
            <div class="modal-body">
                To delete the selected category, all transactions belonged to this category should
                be assigned to:
            </div>
            <div class="container-fluid">
                <div class="form-group">
                    <label>New Category:</label>
                    <select class="form-control" ng-model="reassignTo" ng-options="cat as cat.slug for cat in reassignCats"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-disabled="reassignTo===''" ng-click="performDelete()">Delete</button>
                <button class="btn btn-default" data-dismiss="modal" data-target="reassignDlg" rol="button">Cancel</button>
            </div>
        </div>
    </div>
    </div>
</body>
</html>