<html>
<head>
     <style>
         .row-spacer { margin-bottom: 2px }
     </style>
</head>
<body ng-controller="entry">
	<div class="container-fluid">
	   <div class="row">
	       <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Transaction Entry</h4>
                </div>

               
               <div class="panel-body">
                    <div class="form-group" ng-if="alertMessage.show">
                        <div class="alert {{alertMessage.class}}">{{alertMessage.message}}</div>
                    </div>

                    <div class="form-group">
                       <label>payee</label>
                       <div id="payeeDd" class="dropdown" >
                       <input id="payee" type="text" class="form-control"  placeholder="Payee" ng-model="entry.payee" uib-typeahead="payee._id for payee in autocompletePayee($viewValue)" typeahead-on-select="payeeSelected($item,$model,$label)" />
                       </div>
                   </div>
                   
                   <div class="form-group">
                       <label>Account</label>
                       <select class="form-control" ng-model="entry.account" ng-disabled="trans_id!==null" ng-options="account._id as account.title for account in accounts"/>
                   </div>

                   <div class="form-group"> 
                        <div class="radio-inline">
                            <label><input type="radio" ng-disabled="trans_id!==null" value="EXPENSE" ng-model="entry.type"/>Expense</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" ng-disabled="trans_id!==null" value="INCOME" ng-model="entry.type"/>Income</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" ng-disabled="trans_id!==null" value="TRANSFER" ng-model="entry.type"/>Transfer</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" ng-disabled="trans_id!==null" value="ADJUST" ng-model="entry.type"/>Adjust</label>
                        </div>
                   </div>

                   <div class="form-group" ng-if="entry.type === 'TRANSFER'">
                       <label>Destination Account</label>
                       <select class="form-control" ng-model="entry.toAccount" ng-disabled="trans_id!==null" ng-options="account._id as account.title for account in accounts"/>
                   </div>

                   <div class="form-group">
                       <div class="form-inline">
                           <label>Date <input type="text" class="form-control" ng-model="dateEntry.date" ng-change="txtDateChanged()"/></label>
                           <label>Time <input type="text" class="form-control" ng-model="dateEntry.time" ng-blur="txtDateChanged()"/></label>
                       </div>
                       <uib-datepicker ng-model="entry.date" show-weeks="true" class="well well-sm" ng-change="dateChanged()"></uib-datepicker>
                   </div>

                   
                   <div class="form-group">
                       <label>Category</label>
                       <div class="input-group">
                             <input type="text" class="form-control" placeholder="Category" ng-focus="showCatChoices(true)" ng-change="catAutoComplete()" ng-model="entry.category"/>
                             <span class="input-group-btn">
                                <button id="addCatBtn" class="btn btn-success" data-target="#addCatDlg" data-toggle="modal"><span class="glphicon glyphicon-plus"></span></button>
                             </span>
                       </div>

                       <div  id="addCatDlg" class="modal modal-default" role="dialog">
                            <div class="modal-dialog">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>Add Category</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group" ng-if="addCatAlertMessage.show">
                                                        <div class="alert" ng-class="addCatAlertMessage.type">{{addCatAlertMessage.content}}</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Under</label>
                                                        <select ng-model="newcat.parent" class="form-control">
                                                            <option value="null">None</option>
                                                            <option ng-repeat="cat in cats" value="{{cat._id}}">{{cat.slug}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" ng-model="newcat._id" class="form-control" placeholder="name"/>
                                                    </div>

                                                    <div class="form-inline">
                                                        <label>
                                                        <input type="radio" ng-model="newcat.type" value="EXPENSE"/> Expense
                                                        </label>
                                                        <label> 
                                                        <input type="radio" ng-model="newcat.type" value="INCOME"/> Income
                                                        </label>
                                                        <label><input type="radio" ng-model="newcat.type" value="TRANSFER"/> Transfer
                                                        </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Icon</label>
                                                        <div class="well">
                                                        <button ng-repeat="cls in iconList" class="btn btn-default btn-sm" ng-class="{'btn-default':cls!==newcat.icon, 'btn-success':cls===newcat.icon}" ng-click="newcat.icon=cls"><span ng-class="cls"></span></button>
                                                        
                                                        </div>
                                                        
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Color</label>
                                                        <div class="well">
                                                        <button class="btn" ng-class="{'btn-default':newcat.color!==clr.color, 'btn-success':newcat.color===clr}" ng-repeat="clr in colorList" ng-click="newcat.color=clr"><span class="glyphicon glyphicon-stop" style="color:{{clr}}"></span></button>
                                                        
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" ng-click="addCategory()">Add</button>
                                                    <button class="btn btn-default" data-dismiss="modal" data-target="#addCatDlg">Cancel</button>
                                                </div>
                                       </div>
                            </div>
                       </div>

                       <div id="catChoices" class="well" style="display:none;overflow:scroll;max-height: 12em">
                            <div class="container">
                              <div class="row row-spacer" ng-repeat="cat in catsFiltered">
                                  <button class="btn btn-sm btn-success" style="background-color:{{cat.color}};border-color:{{cat.color}}" ng-click="entry.category=cat._id; catAutoComplete(); showCatChoices(false)">
                                      <span class="{{cat.icon}}"></span> {{cat.slug}}
                                  </button>
                              </div>
                            </div>
                            <div ng-if="catsFiltered.length<=0" class="lead">Error: No Matching Category</div>
                       </div>

                   </div>
                   <div class="form-group">
                       <label ng-if="entry.type!=='ADJUST'">amount</label>
                       <label ng-if="entry.type==='ADJUST'">adjusted balance</label>
                       <div class="input-group">
                           <input ng-if="entry.type!=='ADJUST'" type="number" class="form-control" placeholder="Amount"      ng-model="entry.amount"/>
						   <input ng-if="entry.type==='ADJUST'" type="number" class="form-control" placeholder="New Balance" ng-model="entry.balance"/> 
                           <span class="input-group-btn">
                           <button class="btn btn-default">THB</button>
                           </span>
                       </div>
                   </div>
               </div>
               <div class="panel-footer">
                   <button class="btn btn-primary" ng-click="submitEntry()">Save</button>
                   <button class="btn btn-default" ng-click="clearEntry()">Cancel</button>
               </div>
            </div>
           </div> <!-- col -->
</body>
</html>
