<html>
<head>
	<style>
		.cat-color-band { display:block; width: 3px; height: 44px}
		.number-col { text-align: right }
		.number-expense { color: red }
		.number-income { color: green }
		.date-row { background-color: #ccc; font-weight: bold; color: #000 }
	</style>
</head>
<body ng-controller="trans">
	<div class="container">
		<div class="row">
			<div class="col-xs-1">
				<label>Account:</label>
			</div>
			<div class="col-xs-9">
				<select class="form-control" ng-model="account" ng-options="acc._id as acc.title for acc in accountList" ng-change="refresh()">
				</select>
			</div>
			<div class="col-xs-2">
				<a class="btn btn-success" href="#/entry"><span class="glyphicon glyphicon-plus"></span></a>
			</div>
		</div>
	</div>

	<div style="height: 2em"></div>
	<div ng-if="alertMsg" class="alert" ng-class="alertClass">{{alertMsg}}</div>

	<table class="table table-default">
		<thead>
			<tr>
				<th></th> <!-- colored band -->
				<th>Category</th>
				<th>Payee</th>
				<th>Time</th>
				<th class="number-col">Amount</th>
				<th class="number-col">Balance</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="transactions.length === 0">
				<td colspan=7 class="no_row"><p>Empty Transactions</p><p><a href='#'>Create One</a></td>
			</tr>

			<tr ng-repeat-start="tr in transactions">
				<td ng-if="tr.formattedDate!==transactions[$index-1].formattedDate" colspan=7 class="date-row">{{tr.date | longDate}}</span></td>
			</tr> 

			<tr ng-repeat-end> 
				<td class="cat-color-band" style="background-color:{{tr.color}}"></td>
				<td><span class="{{tr.icon}}"></span> {{tr.category}}</td>
				<td>{{tr.payee}}</td>
				<td>{{tr.date | time}}</td>
				<td class="number-col" ng-class="{'number-expense':tr.type==='EXPENSE','number-income':tr.type==='INCOME'}">{{tr.amount|number}}</td>
				<td ng-if="tr.type!=='TRANSFER' || tr.account === account" class="number-col" ng-class="{'number-expense':tr.balance<0,'number-income':tr.balance>=0}">{{tr.balance|number}}</td>
				<td ng-if="tr.type==='TRANSFER' && tr.toAccount === account" class="number-col" ng-class="{'number-expense':tr.dstBalance<0,'number-income':tr.dstBalance>=0}">{{tr.dstBalance|number}}</td>
				<td>
					<a class="btn btn-xs btn-primary" href="#/entry/{{tr._id}}"><span class="glyphicon glyphicon-pencil"></span></a>
					<button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" ng-click="deleteTran(tr)"></span></button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="active">
				<td colspan=7><b>Balance {{getAccountObject(account).balance | number}}</b></td>
			</tr>
		</tfoot>
	</table>
		<div id="addAccount" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
						&times;</span></button>
						<h4>Add new Account</h4>
					</div>

					<div class="modal-body">
						<div id="createAccountAlert" ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>

						<div class="form-group">
							<label for="accountName">Account Name</label>
							<input name="accountName" ng-model="newAccount.title" class="form-control" placeholder="Account Name"/>
						</div>
						<div class="form-group">
							<label for="initialBalance" ng-model="newAccount.initialBalance">Initial Balance</label>
							<input name="initialBalance" class="form-control" placeholder="Account Name"/>
						</div>

						<div class="form-group">
							<label for="accountType">Account Type</label>
							<select name="accountType" ng-model="newAccount.type" class="form-control">
								<option value="">Choose an Account Type</option>
								<option value="CASH">Cash</option>
								<option value="SAVINGS">Savings</option>
								<option value="CREDIT">Credit Card</option>
								<option value="OTHERS">Others</option>
							</select>
						</div>

						<div class="form-group">
							<label for="accountGroup" ng-model="newAccount.group">Account Group</label>
							<input name="accountGroup" class="form-control" placeholder="Group"/>
						</div>

						<div class="form-group">
							<label for="accountNote" ng-model="newAccount.note">Description</label>
							<textarea name="accountNote" class="form-control" placeholder="Note"></textarea>
						</div>
					</div> <!-- modal.body -->
					<div class="modal-footer">
						<button class="btn btn-success" ng-click="createAccount()">Add Account</button>
						<button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
					</div>
				</div> <!--modal.content -->
			</div> <!-- modal.dialog -->
		</div> <!-- modal -->
</body>
</html>
